<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpinTheBottle</title>
    <link rel="stylesheet" href="spinthebottle.css">
    <link rel="icon" type="image/png" href="truth-or-dare-spin-the-bottle-6.png">
</head>

<style>
    body{
    background-color:#2b2c2c!important;
}
</style>


<body>
    <h1>spin_the_bottle</h1>
</body>
</html>